# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '8', '11', '17', '21' ]
    name: Build
    steps:
      - uses: actions/checkout@v3
      - name: Setup redis 1
        uses: getong/redis-action@v1
        with:
          redis version: '3.2.3'
          host port: 6380
          container port: 6380
          redis password: 'test'
      - name: Setup redis 2
        uses: shogo82148/actions-setup-redis@v1
        with:
          redis-version: '6.x'
      - name: Setup JDK 11 for compile
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'
          check-latest: false
      - name: Compile
        run: mvn clean package -DskipTests -P CI --batch-mode --quiet
      - name: Setup JDK ${{ matrix.java }} for running
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
          check-latest: false
      - name: Version
        run: java -version
      - name: Test
        run: mvn test jacoco:report coveralls:report --batch-mode --quiet
